@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;900&subset=latin&display=swap');
:root {
	--cream: hsl(38 47% 75%);
	--black: hsl(20 3% 19%);
  --background: #f5f5f5;
  --backgroundsecond: #f0e9e2; 
  --shadow: #c5c5c5;
	--red: #ea6962;
	--orange: #e78a4e;
	--yellow: #d8a657;
	--green: #a9b665;
	--aqua: #5a9152;
	--ff: "Rubik", sans-serif;
  --roboto: 'Roboto', sans-serif;
}
body {
  background-color:var(--backgroundsecond);
}
h1 {
  font-family:'Rubik', sans-serif;
  color:var(--orange);
  font-size:2.25rem;
  font-weight:500;
}
h2 {
  font-weight:500;
  color:var(--black);
  font-size:2rem;
  padding-top:1em;
  margin-bottom:0.5em;
  padding:5px;
}
.idcard {
  position:fixed;
  background-color:var(--background);
  width:15%;
  min-width:150px;
  left:5%;
  top:5%;
  padding-bottom:20px;;
  box-shadow:5px 5px 10px var(--shadow), -5px -5px 10px var(--shadow);
  border: 1px solid var(--red);
  border-radius: 10px;
  transition: 1s ease-out;
}
.idcard:hover {
  box-shadow:2px 2px 10px var(--red), -2px 2px 10px var(--red), 2px -2px 10px var(--red), -2px -2px 10px var(--red);
}
.cardimage {
  width:90%;
  margin-top:9%;
}
h3 {
  font-family:var(--roboto);
  font-size:2rem;
  font-weight:black;
  text-align:center;
  color:var(--red);
  margin-top:0%;
  padding:0px;
  margin-bottom:0%;
}
h4 {
  font-family:var(--roboto);
  font-size:1.5rem;
  font-weight:400;
  text-align:center;
  color:var(--orange);
  margin-top:0%;
  padding:0px;
  margin-bottom:5%;
}
a {
  font-size:1rem;
  font-family:var(--roboto);
  color:var(--aqua);
  text-decoration:none;
  font-weight:400;
}
b {
  font-weight:500;
}
li {
  margin-bottom:1em;
}
content {
  
}
#content a {
  font-size:1rem;
  font-family:var(--roboto);
  font-weight:500;
  color:var(--aqua);
  text-decoration:none;
  transition: 0.5s ease;
}
#content a:hover {
  color:var(--orange);
}
.contentarea {
  position:absolute;
  top:0;
  left:22%;
  width:70%;
  min-height: 100vh;
  background-color:var(--background);
  text-align:justify;
}
.contentareacentered {
  position:absolute;
  left:15%;
  top:0;
  width:70%;
  min-height: 100vh;
  background-color:var(--background);
  text-align:justify;
}

.contenttxt {
  position:relative;
  width:90%;
  text-align:justify;
  font-size:1rem;
  font-family:var(--ff);
  font-weight:400;
  color:var(--black);
  padding-bottom:5%;
}
emph {
  font-weight:500;
  color:var(--aqua);
}

.divider {
  width:100%;
  background-color:var(--red);
  height:1px;
  position:relative;
  margin-bottom:10px;
}


@media (max-width: 768px) {
  .idcard {
      display: none !important;
  }
}